* {
    margin:0px auto;
}
.zk {
width:1000px; 
height:800px;
	background-image:url(../image/bg.jpg);
}
body 
{
	
}
.zk{ text-align:center;}
.top 
{width:750px;
    
       }
.Menu
{
	width: 750px;
	background-image: url(../image/tool.jpg);
	font-size: 14px;
	font-family: 黑体;
	font-weight: bold;
	color: #FF9900;
}
.nr{ width:750px; text-align:left;}
#sy{ background-image:url(../image/default_bg.gif);
     width:750px;
      height:435px;
     }